.manrope {
    font-family: 'Manrope', sans-serif;
}

.primaryBtn {
    color: #FFF;
    text-align: center;
    font-size: 1.16669rem;
    font-weight: 700;
    display: inline-flex;
    padding: 0.875rem 1.4rem;
    justify-content: center;
    align-items: center;
    gap: 0.58331rem;
    border-radius: 0.46669rem;
    background: #FF4240;
    
}